<% include ./partial/header.ejs %>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">AZEYO</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="index.html"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/rank/">RANK</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" uk-toggle="target: #modal-example">제보하기</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
           <img src="img/logo.PNG" alt="logo loading.."/>   
        </div>
    </header>
    
    <!--Content-->
    <div class="container" >
        <div id="randomgag">
            베를린 가면 남이 주는 거<br>
            아무거나 먹지 마라<br>
            독일수도
        </div>
        <div class="btn-container">
            <button class="uk-button uk-button-secondary">></button>
        </div>
        <div class="report">
             <!-- This is a button toggling the modal -->
            <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">제보하기</button>
            <!-- This is the modal -->
            <div id="modal-example" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">개그를 제보해주세요</h2>
                    <p>
                        <form>
                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" placeholder="닉네임">
                                </div>

                                <div class="uk-margin">
                                    <textarea class="uk-textarea" rows="5" placeholder="아재요"></textarea>
                                </div>
                            </fieldset>
                        </form>
                    </p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">취소</button>
                        <button class="uk-button uk-button-primary" type="button">제보</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

<% include ./partial/footer.ejs %>